@font-face {
  font-family: "Metropolis Extra";
  src: url("../../assets/Fonts/Metropolis-ExtraLightItalic.eot");
  src: local("Metropolis Extra Light Italic"),
    local("Metropolis-ExtraLightItalic"),
    url("../../assets/Fonts/Metropolis-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-ExtraLightItalic.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-ExtraLightItalic.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-RegularItalic.eot");
  src: local("Metropolis Regular Italic"), local("Metropolis-RegularItalic"),
    url("../../assets/Fonts/Metropolis-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-RegularItalic.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-RegularItalic.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis Semi";
  src: url("../../assets/Fonts/Metropolis-SemiBoldItalic.eot");
  src: local("Metropolis Semi Bold Italic"), local("Metropolis-SemiBoldItalic"),
    url("../../assets/Fonts/Metropolis-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-SemiBoldItalic.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-SemiBoldItalic.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-BlackItalic.eot");
  src: local("Metropolis Black Italic"), local("Metropolis-BlackItalic"),
    url("../../assets/Fonts/Metropolis-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-BlackItalic.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-BlackItalic.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-ThinItalic.eot");
  src: local("Metropolis Thin Italic"), local("Metropolis-ThinItalic"),
    url("../../assets/Fonts/Metropolis-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-ThinItalic.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-ThinItalic.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis Extra";
  src: url("../../assets/Fonts/Metropolis-ExtraBold.eot");
  src: local("Metropolis Extra Bold"), local("Metropolis-ExtraBold"),
    url("../../assets/Fonts/Metropolis-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-ExtraBold.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-ExtraBold.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis Semi";
  src: url("../../assets/Fonts/Metropolis-SemiBold.eot");
  src: local("Metropolis Semi Bold"), local("Metropolis-SemiBold"),
    url("../../assets/Fonts/Metropolis-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-SemiBold.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-SemiBold.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-MediumItalic.eot");
  src: local("Metropolis Medium Italic"), local("Metropolis-MediumItalic"),
    url("../../assets/Fonts/Metropolis-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-MediumItalic.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-MediumItalic.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-Medium.eot");
  src: local("Metropolis Medium"), local("Metropolis-Medium"),
    url("../../assets/Fonts/Metropolis-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-Medium.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-Medium.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-LightItalic.eot");
  src: local("Metropolis Light Italic"), local("Metropolis-LightItalic"),
    url("../../assets/Fonts/Metropolis-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-LightItalic.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-LightItalic.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-Light.eot");
  src: local("Metropolis Light"), local("Metropolis-Light"),
    url("../../assets/Fonts/Metropolis-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-Light.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-Light.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-Black.eot");
  src: local("Metropolis Black"), local("Metropolis-Black"),
    url("../../assets/Fonts/Metropolis-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-Black.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-Black.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-Thin.eot");
  src: local("Metropolis Thin"), local("Metropolis-Thin"),
    url("../../assets/Fonts/Metropolis-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-Thin.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-Thin.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis Extra";
  src: url("../../assets/Fonts/Metropolis-ExtraBoldItalic.eot");
  src: local("Metropolis Extra Bold Italic"),
    local("Metropolis-ExtraBoldItalic"),
    url("../../assets/Fonts/Metropolis-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-ExtraBoldItalic.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-ExtraBoldItalic.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis Extra";
  src: url("../../assets/Fonts/Metropolis-ExtraLight.eot");
  src: local("Metropolis Extra Light"), local("Metropolis-ExtraLight"),
    url("../../assets/Fonts/Metropolis-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-ExtraLight.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-ExtraLight.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-Bold.eot");
  src: local("Metropolis Bold"), local("Metropolis-Bold"),
    url("../../assets/Fonts/Metropolis-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-Bold.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-Bold.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-Regular.eot");
  src: local("Metropolis Regular"), local("Metropolis-Regular"),
    url("../../assets/Fonts/Metropolis-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-Regular.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-Regular.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-BoldItalic.eot");
  src: local("Metropolis Bold Italic"), local("Metropolis-BoldItalic"),
    url("../../assets/Fonts/Metropolis-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-BoldItalic.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-BoldItalic.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
