@font-face {
  font-family: "Metropolis Extra";
  src: url("../../assets/Fonts/Metropolis-ExtraLightItalic.eot");
  src: local("Metropolis Extra Light Italic"),
    local("Metropolis-ExtraLightItalic"),
    url("../../assets/Fonts/Metropolis-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-ExtraLightItalic.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-ExtraLightItalic.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-RegularItalic.eot");
  src: local("Metropolis Regular Italic"), local("Metropolis-RegularItalic"),
    url("../../assets/Fonts/Metropolis-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-RegularItalic.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-RegularItalic.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis Semi";
  src: url("../../assets/Fonts/Metropolis-SemiBoldItalic.eot");
  src: local("Metropolis Semi Bold Italic"), local("Metropolis-SemiBoldItalic"),
    url("../../assets/Fonts/Metropolis-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-SemiBoldItalic.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-SemiBoldItalic.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-BlackItalic.eot");
  src: local("Metropolis Black Italic"), local("Metropolis-BlackItalic"),
    url("../../assets/Fonts/Metropolis-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-BlackItalic.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-BlackItalic.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-ThinItalic.eot");
  src: local("Metropolis Thin Italic"), local("Metropolis-ThinItalic"),
    url("../../assets/Fonts/Metropolis-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-ThinItalic.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-ThinItalic.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis Extra";
  src: url("../../assets/Fonts/Metropolis-ExtraBold.eot");
  src: local("Metropolis Extra Bold"), local("Metropolis-ExtraBold"),
    url("../../assets/Fonts/Metropolis-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-ExtraBold.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-ExtraBold.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis Semi";
  src: url("../../assets/Fonts/Metropolis-SemiBold.eot");
  src: local("Metropolis Semi Bold"), local("Metropolis-SemiBold"),
    url("../../assets/Fonts/Metropolis-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-SemiBold.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-SemiBold.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-MediumItalic.eot");
  src: local("Metropolis Medium Italic"), local("Metropolis-MediumItalic"),
    url("../../assets/Fonts/Metropolis-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-MediumItalic.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-MediumItalic.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-Medium.eot");
  src: local("Metropolis Medium"), local("Metropolis-Medium"),
    url("../../assets/Fonts/Metropolis-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-Medium.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-Medium.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-LightItalic.eot");
  src: local("Metropolis Light Italic"), local("Metropolis-LightItalic"),
    url("Metropolis-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("Metropolis-LightItalic.woff2") format("woff2"),
    url("Metropolis-LightItalic.woff") format("woff"),
    url("Metropolis-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-Light.eot");
  src: local("Metropolis Light"), local("Metropolis-Light"),
    url("../../assets/Fonts/Metropolis-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-Light.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-Light.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-Black.eot");
  src: local("Metropolis Black"), local("Metropolis-Black"),
    url("../../assets/Fonts/Metropolis-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-Black.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-Black.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-Thin.eot");
  src: local("Metropolis Thin"), local("Metropolis-Thin"),
    url("../../assets/Fonts/Metropolis-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-Thin.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-Thin.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis Extra";
  src: url("../../assets/Fonts/Metropolis-ExtraBoldItalic.eot");
  src: local("Metropolis Extra Bold Italic"),
    local("Metropolis-ExtraBoldItalic"),
    url("../../assets/Fonts/Metropolis-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-ExtraBoldItalic.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-ExtraBoldItalic.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis Extra";
  src: url("../../assets/Fonts/Metropolis-ExtraLight.eot");
  src: local("Metropolis Extra Light"), local("Metropolis-ExtraLight"),
    url("../../assets/Fonts/Metropolis-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-ExtraLight.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-ExtraLight.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-Bold.eot");
  src: local("Metropolis Bold"), local("Metropolis-Bold"),
    url("../../assets/Fonts/Metropolis-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-Bold.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-Bold.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-Regular.eot");
  src: local("Metropolis Regular"), local("Metropolis-Regular"),
    url("../../assets/Fonts/Metropolis-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-Regular.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-Regular.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../assets/Fonts/Metropolis-BoldItalic.eot");
  src: local("Metropolis Bold Italic"), local("Metropolis-BoldItalic"),
    url("../../assets/Fonts/Metropolis-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/Fonts/Metropolis-BoldItalic.woff2") format("woff2"),
    url("../../assets/Fonts/Metropolis-BoldItalic.woff") format("woff"),
    url("../../assets/Fonts/Metropolis-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --title-color: #495550;
  --text-color: #485550;
  --primary-color: #252525;
  --secondary-color: #979797;
  --accent-color: #ffb35d;
  --title-light: 200;
  --text-weight: 400;
  --title-weight: 700;
  --title-extra-bold: 900;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Metropolis", sans-serif;
}

.wrapper {
  /* border: 1px solid black; */
  height: 100vh;
  background-color: #f5f5f5;
}

.container {
  /* border: 1px solid black; */
  height: 100%;
  display: flex;
  gap: 1rem;
}

.icons {
  font-size: 1.6rem;
}

/* **************************************** END OF COMMON STYLES ******************************************** */

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  box-shadow: 0 0 0.1rem #979797;
}

.logo__wrapper {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.logo {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: var(--title-color);
}

.nav__list {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__item {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  cursor: pointer;
  color: var(--secondary-color);
  transition: all 0.2s ease-in;
  position: relative;
}

.nav__item .icons {
  font-size: 1.9rem;
  flex: 1;
}

.item {
  font-size: 1.9rem;
  flex: 2;
}

.item__name {
  position: absolute;
  background: var(--text-color);
  font-size: 1.8rem;
  top: -30%;
  left: 50%;
  padding: 0.5rem 1.5rem;
  transform: translate(-50%, -50%);
  display: none;
}

.nav__item:hover {
  color: var(--text-color);
}

.profile {
  width: 90%;
  height: 15rem;
  padding: 1rem;
  position: relative;
  border-radius: 1rem;
  background: var(--secondary-color);
}

.profile__image {
  position: absolute;
  width: 40%;
  top: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile__img {
  width: 100%;
  border-radius: 100%;
  border: 0.5rem solid #f5f5f5;
}

.profile__details {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user__name {
  margin: 2rem 0;
}

.profile__socials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
}

.socials {
  border: 1px solid black;
  padding: 0.5rem;
  background: var(--primary-color);
  border-radius: 0.8rem;
  cursor: pointer;
}
/* 
.socials:hover {
  animation: bounceOut 1s ease-in backwards;
} */

.social {
  color: var(--secondary-color);
}

/* --------------------------- */

.app {
  flex: 5;
  overflow-y: scroll;
}

.sections {
  min-height: 95vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header__title {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  color: var(--title-color);
}

.action__box {
  display: flex;
  width: 50%;
  justify-content: space-between;
  gap: 1rem;
}

.search__box {
  flex: 3;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  color: var(--secondary-color);
}

.search__icon {
  flex: 0.5;
}

.search__input {
  flex: 8;
  background: none;
  outline: none;
  border: none;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: var(--text-color);
}

.search__box.searchActive {
  box-shadow: 0 0.1rem 0.2rem var(--secondary-color);
}

.filter,
.favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  color: var(--secondary-color);
}

.filter {
  flex: 1;
  justify-content: space-evenly;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.filter:hover,
.favorites:hover {
  box-shadow: 0 0.1rem 0.2rem var(--secondary-color);
}

.favorites {
  flex: 0.5;
}

.filter__name {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.diets__categories {
  width: 80vw;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 4rem;
  overflow-x: scroll;
  transform: scale(0.98);
  user-select: none;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.diets__categories.active {
  transform: scale(1);
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.diets__categories::-webkit-scrollbar {
  display: none;
}

.diet {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.diet:hover {
  transform: translateY(-0.3rem);
  /* box-shadow: 0 0 1rem 0.1rem rgb(185, 185, 185); */
}

.diet__img {
  object-fit: cover;
  object-position: center;
}

.diet__details {
  margin: 1.5rem 0;
}

.diet__name {
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: var(--text-weight);
}

.recipes__wrapper {
  padding: 1rem;
}

.recipes__title {
  color: var(--title-color);
  font-size: 2rem;
}

.recipes {
  margin: 2rem 0;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.recipe {
  width: 28rem;
  height: 33rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s ease-out;
  border-radius: 1rem;
}

.recipe:hover {
  transform: translateY(-0.3rem);
}

.recipe__image {
  width: 100%;
  height: 90%;
  border-radius: 1rem;
  overflow: hidden;
}

.recipe__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.recipe__details {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 90%);
  padding: 1rem 0;
}

.recipe__name,
.recipe__time {
  font-size: 1.4rem;
  color: var(--text-color);
}

/* *************** PAGINATION STYLES ******************** */

.pagination__wrapper {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.previous__page,
.next__page {
  background: #d8d9db;
  margin: 0 1rem;
  padding: 1rem;
  cursor: pointer;
}

.previous__page,
.next__page {
  border-radius: 100%;
  padding: 1rem 1.5rem;
  transition: all 0.1s ease-out;
}

.previous__page:hover,
.next__page:hover {
  background: var(--accent-color);
  color: #fff;
}

.pages {
  border-radius: 2rem;
  background: #d8d9db;
  cursor: pointer;
  padding: 1rem;
}

.page {
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem 1.5rem;
  font-weight: var(--title-weight);
}

.page:hover {
  color: var(--accent-color);
}

.pageActive {
  background: var(--accent-color);
  color: #fff;
  border-radius: 1rem;
  transition: all 0.1s ease-in;
}

.pageActive:hover {
  color: #fff;
}

/* *************** END OF PAGINATION STYLES ******************** */

/* *************** FAVORITES STYLES ******************* */

.favorites__section {
  padding: 2rem 1rem;
}

.favorites__wrapper {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
}

.favorite {
  width: 28rem;
  height: 30rem;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.favorite__image {
  height: 100%;
  width: 100%;
}

.favorite__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.favorite__details {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(216, 217, 219, 0.664);
  width: 80%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1rem;
  z-index: 2;
}

.favorite__name {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: var(--title-color);
}

.favorite__time__rank {
  width: 80%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.favorite__time,
.favorite__rank {
  font-size: 1.3rem;
  flex: 1;
  text-align: center;
  font-weight: var(--title-weight);
  color: var(--text-color);
}

.line {
  display: inline-block;
  height: 100%;
  width: 0.2rem;
  background: var(--accent-color);
}

.favorite__remove__tab {
  position: absolute;
  top: 0;
  right: -20%;
  height: 100%;
  width: 15%;
  writing-mode: vertical-lr;
  background: var(--primary-color);
  color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
  z-index: 3;
}

.fav__remove {
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  font-weight: var(--title-weight);
  text-transform: capitalize;
}

.favorite:hover .favorite__remove__tab {
  right: 0;
}

.favorite__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.favorite__icon i {
  font-size: 5rem;
  color: var(--accent-color);
}

/* *************** END OF FAVORITES STYLES ******************* */
/* hidden class */
.hidden {
  display: none;
}

/* ?---------------------- ANIMATIONS ------------------------ */
/* @keyframes bounceOut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.8);
  }
} */
